.hair-spots-div {
  padding-top: 100px;
  display: flex;
  flex-direction: column; 

}

.hair-spot-img { 
    background-color: tomato;
    
    width: 250px; 
    border-radius: 10%;
    height: 180px; 
    margin-right: 15px; 
    overflow: hidden;
}



.hair-spot {    
    margin-left: 40px; 
    margin-right: 40px;
    border-bottom: 1px solid lightgray;
    padding-top: 20px;
    display: flex;
    align-items: center;  
    padding: 15px;
    padding-left: 0px;
}
.edit-and-delete-buttons-div{
  display: flex;
  /* justify-content: space-between; */
  margin-top: 15px;
  width: 250px;
  /* border:1px solid red; */
}

.button{
    background-color: tomato;
    border: none;
    height: 50px;
    margin-right: 15px;
    border-radius: 3%;
    padding: 15px;
    color: white;
}

