* {
    padding: 0px;
    margin: 0px;
}

.big-image-div {
    
    /* border: 1px solid red; */
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.big-image {
    max-width: 100%;     
}

.big-image-h1-div {
    /* border: 1px solid red; */
    position: absolute;
    top: 200px;
    max-width: 40%;
}

.big-image-h1 {
    color: white;
    font-size: 30px;
    font-size: 3vw;
    position: relative;
    top: 0px;
    /* border: 1px solid blue; */

    
}